asgiref==3.11.0
charset-normalizer==3.4.4
Django==5.2.10
et_xmlfile==2.0.0
gunicorn==25.0.1
openpyxl==3.1.5
packaging==26.0
pillow==12.1.0
psycopg2-binary==2.9.11
reportlab==4.4.9
sqlparse==0.5.5
tzdata==2025.3
whitenoise==6.12.0
dj-database-url==2.1.0
python-dotenv==1.2.1
